body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    padding: 20px;
    display: flex; /* Menggunakan flexbox untuk mengatur tata letak */
    align-items: center; /* Mengatur agar elemen berada di tengah secara vertikal */
}

.content img {
    max-width: 50%; /* Mengatur lebar maksimum gambar menjadi setengah dari container */
    height: auto;
    margin-right: 20px; /* Menambahkan margin kanan agar ada jarak antara gambar dan teks */
}

.content p {
    color: #666;
}
